@media only screen and (min-width: 300px) {
  .loading_bubble{
    width: 66px;
  }

  .img_msg_container{
    width: 178px !important;
    padding-bottom: 5px;
  }

  .img_div{
    padding: 0px!important;
    height: 160px!important;
    width: 165px !important;
  }

  .square{
    height: 160px !important;
    width: 165px !important;
  }

}

@media only screen and (min-width: 498px) {

  .loading_bubble{
    width: 66px;
  }

  .img_msg_container{
    width: 250px !important;
    padding-bottom: 5px;
  }

  .img_div{
    padding: 0px!important;
    height: 200px;
    width: 240px;
  }

  .square{
    height: 200px !important;
    width: 240px !important;
  }

}

@media only screen and (min-width: 600px) {
  .loading_bubble{
    width: 66px;
  }

  .img_msg_container{
    width: 250px !important;
    padding-bottom: 5px;
  }

  .img_div{
    padding: 0px!important;
    height: 200px;
    width: 240px;
  }

  .square{
    height: 200px !important;
    width: 240px !important;
  }

}

@media only screen and (min-width: 768px) {
  .loading_bubble{
    width: 66px;
  }

  .img_msg_container{
    width: 310px !important;
    padding-bottom: 5px;
  }

  .img_div{
    padding: 0px!important;
    height: 160px;
    width: 300px;
  }

  .square{
    height: 160px !important;
    width: 300px !important;
  }

}

@media only screen and (min-width: 992px) {
  .loading_bubble{
    width: 64px;
  }

  .img_msg_container{
    width: 310px !important;
    padding-bottom: 5px;
  }

  .img_div{
    padding: 0px!important;
    height: 160px;
    width: 300px;
  }

  .square{
    height: 160px !important;
    width: 300px !important;
  }

}

@media only screen and (min-width: 1200px) {
  .loading_bubble{
    width: 64px;
  }

  .img_msg_container{
    width: 310px !important;
    padding-bottom: 5px;
  }

  .img_div{
    padding: 0px!important;
    height: 180px !important;
    width: 300px !important;
  }

  .square{
    height: 180px !important;
    width: 300px !important;
  }

}

.message {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: capitalize;
}

.message-author{
  text-transform: capitalize;
  color: blue;
  margin: 5px;
  font-size: 0.8rem;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
}

.message.mine .bubble-container {
  justify-content: flex-end;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
}

.message.mine.start .bubble-container .bubble {
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message.mine .bubble-container .bubble {
  background: #007aff;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.img_msg {
  border-radius: 0px !important;
  color: black !important;
  font-size: 1rem !important;
  background: #f4f4f8 !important;
}

.square {
  padding: 0px!important;
  max-height: 300px!important;
  max-width: 300px!important;
}

.img_div{
  padding: 0px!important;
  height: 200px;
  width: 300px;
}

.content_div{
  width: 150px !important;
  word-wrap: break-word;
  padding:0px!important;
  margin:0px !important;
}

.content_img {
  height: 35px !important;
  padding: 5px 3px !important;
  overflow-y: scroll;
}

.typing_loader{
  padding: 2px 0px 0px 0px !important;
}