.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.compose::placeholder {
  text-align: center!important;
}

.compose:focus::placeholder {
  text-align: left !important;
}

.compose {
  padding: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: calc(100% - 20px);
  bottom: 50px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: none;
}

#composeMsg{
  border-radius: 0.9rem!important;
  box-shadow: none;
  outline: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}


#sticky-footer {
  flex-shrink: none;
}

.composeButtons{
  height: calc(1.5em + 0.5rem)
}

.composeIcons{
  cursor: pointer;
  font-size: 1.2rem;
  color: #0578FA;
  margin-left: 5%;
}

.clear_chat{
  color: #EB3E37;
  cursor: pointer;
  font-size: 1rem;
}

.info{
  color: #58A847;
  cursor: pointer;
  font-size: 1rem;
}

.disable_send_btn{
  opacity: 0.6;
}

.enable_send_btn{
  color: #0578FA;
  font-size: '1.2rem';
  cursor: pointer; 
}

.scrollToTop{
  cursor: pointer;
  font-size: 1.2rem;
  color: #0578FA;
  margin-left: 5%;
}